<div class="row">    
    <p-toast position="center" key="tl"></p-toast>    
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">                    
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">Factura</h3>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-success" (click)="displayModalBill=true;"></button>
                        </div>
                    </div>                                        
                </div>
                <div class="card-body">
                    <!-- <div class="row">
                        <p-messages [value]="msgs"></p-messages>
                    </div> -->
                    <div class="row">
                        <div class="col-md-12">
                            <form [formGroup]="facForm" #_facForm="ngForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Cliente</h6>
                                            <p-dropdown
                                                [style]="{'width':'100%'}"
                                                filter="true"
                                                [options]="customerDropbox"
                                                placeholder="Seleccione cliente"
                                                formControlName="IdCliente"
                                                [showClear]="true" >
                                            </p-dropdown>
                                            <div *ngIf="f.IdCliente.errors && (f.IdCliente.dirty || f.IdCliente.touched)" class="invalid-feedback">
                                                <div>El cliente es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Camarero</h6>
                                            <p-dropdown
                                                [style]="{'width':'100%'}"
                                                filter="true"
                                                [options]="waitersDropbox"
                                                placeholder="Seleccione camarero"
                                                formControlName="IdCamarero"
                                                [showClear]="true" >
                                            </p-dropdown>
                                            <div *ngIf="f.IdCamarero.errors && (f.IdCamarero.dirty || f.IdCamarero.touched)" class="invalid-feedback">
                                                <div>El camarero es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Mesa</h6>
                                            <p-dropdown
                                                [style]="{'width':'100%'}"
                                                filter="true"
                                                [options]="tableDropbox"
                                                placeholder="Seleccione mesa"
                                                formControlName="IdMesa"
                                                [showClear]="true" >
                                            </p-dropdown>
                                            <div *ngIf="f.IdCamarero.errors && (f.IdCamarero.dirty || f.IdCamarero.touched)" class="invalid-feedback">
                                                <div>El camarero es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Cocinero</h6>
                                            <p-dropdown
                                                [style]="{'width':'100%'}"
                                                filter="true"
                                                [options]="chefDropbox"                                        
                                                placeholder="Seleccione cocinero"
                                                formControlName="IdCocinero"
                                                [showClear]="true" >
                                            </p-dropdown>
                                            <div *ngIf="f.IdCocinero.errors && (f.IdCocinero.dirty || f.IdCocinero.touched)" class="invalid-feedback">
                                                <div>El cocinero es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Plato</h6>
                                            <input 
                                                id="Plato" 
                                                type="number"
                                                class="form-control"
                                                formControlName="Plato"
                                                [ngClass]="{ 'is-invalid': f.Plato.invalid && (f.Plato.dirty || f.Plato.touched) }" />
                                            <div *ngIf="f.Plato.errors && (f.Plato.dirty || f.Plato.touched)" class="invalid-feedback">
                                                <div>El plato es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <h6>Importe</h6>
                                            <input 
                                                id="Importe" 
                                                type="text"
                                                class="form-control"
                                                currencyMask
                                                [options]="{ prefix: '$ ', thousands: '.', decimal: ',', align: 'left' }"
                                                formControlName="Importe"                                        
                                                [ngClass]="{ 'is-invalid': f.Importe.invalid && (f.Importe.dirty || f.Importe.touched) }" />
                                            <div *ngIf="f.Importe.errors && (f.Importe.dirty || f.Importe.touched)" class="invalid-feedback">
                                                <div>El plato es requerido</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group" style="text-align: right;">
                                            <button pButton pRipple type="button" icon="pi pi-plus" (click)="addItem()" class="p-button-rounded p-button-info"></button>
                                        </div>
                                    </div>                                    
                                </div>
                                <div class="row">
                                    <p-table 
                                        #dtAdd
                                        [value]="addDetBills"
                                        selectionMode="single"
                                        [(selection)]="selectedAddDetBills"
                                        dataKey="IdFactura"
                                        styleClass="p-datatable-customers"
                                        [rows]="5"
                                        [paginator]="true" 
                                        stateStorage="local" 
                                        stateKey="statedemo-local">
                                        <ng-template pTemplate="header">
                                            <tr>                                        
                                                <th pSortableColumn="IdCocinero">Id Cocinero <p-sortIcon field="IdCocinero"></p-sortIcon></th>
                                                <th pSortableColumn="Cocinero">Cocinero <p-sortIcon field="Cocinero"></p-sortIcon></th>
                                                <th pSortableColumn="Plato">Plato <p-sortIcon field="Plato"></p-sortIcon></th>
                                                <th pSortableColumn="Importe">Importe <p-sortIcon field="Importe"></p-sortIcon></th>
                                                <th pSortableColumn="Acciones">Acciones</th>
                                            </tr>
                                            <tr>                                        
                                                <th>
                                                    <input 
                                                        pInputText 
                                                        type="text" 
                                                        (input)="dtAdd.filter($event.target.value, 'IdCocinero', 'contains')" 
                                                        [value]="dtAdd.filters['IdCocinero']?.value" 
                                                        placeholder="Buscar por Id" 
                                                        class="p-column-filter">
                                                </th>
                                                <th>
                                                    <input 
                                                        pInputText 
                                                        type="text" 
                                                        (input)="dt1.filter($event.target.value, 'Cocinero', 'contains')" 
                                                        [value]="dt1.filters['Cocinero']?.value" 
                                                        placeholder="Buscar por Cocinero" 
                                                        class="p-column-filter">
                                                </th>
                                                <th>
                                                    <input 
                                                        pInputText type="text" 
                                                        (input)="dt1.filter($event.target.value, 'Plato', 'contains')" 
                                                        [value]="dt1.filters['Plato']?.value" 
                                                        placeholder="Buscar por Plato" 
                                                        class="p-column-filter">
                                                </th>
                                                <th>
                                                    <input 
                                                        pInputText type="text" 
                                                        (input)="dt1.filter($event.target.value, 'Importe', 'contains')" 
                                                        [value]="dt1.filters['Importe']?.value" 
                                                        placeholder="Buscar por Importe" 
                                                        class="p-column-filter">
                                                </th>
                                                <th>                                            
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-addDetBills>
                                            <tr [pSelectableRow]="bills">
                                                <td>                  
                                                    {{addDetBills.IdCocinero}}
                                                </td>
                                                <td>
                                                    {{addDetBills.Cocinero}}
                                                </td>
                                                <td>
                                                    {{addDetBills.Plato}}
                                                </td>
                                                <td>
                                                    {{addDetBills.Importe}}
                                                </td>
                                                <td>
                                                    <div class="row" style="text-align:center;">                                                        
                                                        <div class="col-md-2">
                                                            <button 
                                                                pButton
                                                                pRipple
                                                                type="button"
                                                                icon="pi pi-trash"
                                                                (click)="deleteBill(addDetBills)"
                                                                class="p-button-rounded p-button-info p-button-danger">
                                                            </button>
                                                        </div>
                                                    </div>                                            
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="emptymessage">
                                            <tr>
                                                <td colspan="4">No customers found.</td>
                                            </tr>
                                        </ng-template>
                                    </p-table>                                    
                                </div>
                            </form>
                        </div>                                                
                    </div>                    
                </div>
                <div class="card-footer" style="text-align: right;">
                    <span class="p-buttonset">
                        <button pButton pRipple label="Generar Factura" (click)="createBill()" icon="pi pi-check"></button>                    
                        <button pButton pRipple label="Limpiar" icon="pi pi-times"></button>
                    </span>
                </div>
            </div>
        </div>        
</div>



<p-dialog 
    header="Facturas" 
    [(visible)]="displayModalBill"
    [modal]="true" 
    [style]="{width: '80vw'}" 
    [baseZIndex]="10000" 
    [draggable]="false" 
    [resizable]="false"
    [closable]="false">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">
                    <h3 class="card-title">Lista de Facturas</h3>
                </div>
                <div class="card-body">
                    
                        <div class="row">
                            <p-table 
                                #dt1 
                                [value]="bills"
                                selectionMode="single"
                                [(selection)]="selectedBills"
                                dataKey="IdFactura"
                                styleClass="p-datatable-customers"
                                [rows]="5"
                                [paginator]="true" 
                                stateStorage="local" 
                                stateKey="statedemo-local">
                                <ng-template pTemplate="header">
                                    <tr>                                        
                                        <th pSortableColumn="Cliente">Cliente <p-sortIcon field="Cliente"></p-sortIcon></th>
                                        <th pSortableColumn="Camarero">Camarero <p-sortIcon field="Camarero"></p-sortIcon></th>
                                        <th pSortableColumn="Mesa">Mesa <p-sortIcon field="Mesa"></p-sortIcon></th>
                                        <th pSortableColumn="Fecha">Fecha <p-sortIcon field="Fecha"></p-sortIcon></th>
                                        <th pSortableColumn="Acciones">Acciones</th>
                                    </tr>
                                    <tr>                                        
                                        <th>
                                            <input 
                                                pInputText 
                                                type="text" 
                                                (input)="dt1.filter($event.target.value, 'Cliente', 'contains')" 
                                                [value]="dt1.filters['_about']?.value" 
                                                placeholder="Buscar por Cliente" 
                                                class="p-column-filter">
                                        </th>
                                        <th>
                                            <input 
                                                pInputText 
                                                type="text" 
                                                (input)="dt1.filter($event.target.value, 'Camarero', 'contains')" 
                                                [value]="dt1.filters['accessURL']?.value" 
                                                placeholder="Buscar por Camarero" 
                                                class="p-column-filter">
                                        </th>
                                        <th>
                                            <input 
                                                pInputText type="text" 
                                                (input)="dt1.filter($event.target.value, 'Mesa', 'contains')" 
                                                [value]="dt1.filters['title']?.value" 
                                                placeholder="Buscar por Mesa" 
                                                class="p-column-filter">
                                        </th>
                                        <th>
                                            <input 
                                                pInputText type="text" 
                                                (input)="dt1.filter($event.target.value, 'Fecha', 'contains')" 
                                                [value]="dt1.filters['title']?.value" 
                                                placeholder="Buscar por Fecha" 
                                                class="p-column-filter">
                                        </th>
                                        <th>                                            
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-bills>
                                    <tr [pSelectableRow]="bills">
                                        <td>                  
                                            {{bills.Cliente}}
                                        </td>
                                        <td>
                                            {{bills.Camarero}}
                                        </td>
                                        <td>
                                            {{bills.Mesa}}
                                        </td>
                                        <td>
                                            {{bills.Fecha | date}}
                                        </td>
                                        <td>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-md-2">
                                                    <button 
                                                        pButton
                                                        pRipple
                                                        type="button"
                                                        icon="pi pi-pencil"
                                                        (click)="editModal(bills.IdFactura)"
                                                        class="p-button-rounded p-button-info p-button-success">
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button 
                                                        pButton
                                                        pRipple
                                                        type="button"
                                                        icon="pi pi-trash"
                                                        (click)="deleteBill(bills.IdFactura)"
                                                        class="p-button-rounded p-button-info p-button-danger">
                                                    </button>
                                                </div>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">No customers found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>                            
                        </div>
                </div>
            </div>
        </div>
    </div>
    <p-footer>            
        <button type="button" pButton (click)="clear();" label="Cerrar" class="ui-button-secondary"></button>            
    </p-footer>
</p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>