<br />
<p class="lead">Informe general de Facturación por Camarero</p>
<hr />
<p-table 
    #dtFac 
    [value]="reportTotales"
    selectionMode="single"    
    dataKey="IdCamarero"
    styleClass="p-datatable-customers"
    [rows]="5"
    [paginator]="true" 
    stateStorage="local" 
    stateKey="statedemo-local">
    <ng-template pTemplate="header">
        <tr>                                        
            <th pSortableColumn="Nombre">Nombres <p-sortIcon field="Nombre"></p-sortIcon></th>
            <th pSortableColumn="Apellido1">Primer Apellido <p-sortIcon field="Apellido1"></p-sortIcon></th>
            <th pSortableColumn="Apellido2">Segundo Apellido <p-sortIcon field="Apellido2"></p-sortIcon></th>
            <th pSortableColumn="Mes">Mes <p-sortIcon field="Mes"></p-sortIcon></th>
            <th pSortableColumn="Total">Total <p-sortIcon field="Total"></p-sortIcon></th>            
        </tr>
        <tr>                                        
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dtFac.filter($event.target.value, 'Nombre', 'contains')" 
                    [value]="dtFac.filters['Nombre']?.value" 
                    placeholder="Buscar por Nombres" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dtFac.filter($event.target.value, 'Apellido1', 'contains')" 
                    [value]="dtFac.filters['Apellido1']?.value" 
                    placeholder="Buscar por Primer Apellido" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtFac.filter($event.target.value, 'Apellido2', 'contains')" 
                    [value]="dtFac.filters['Apellido2']?.value" 
                    placeholder="Buscar Segundo Apellido" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dtFac.filter($event.target.value, 'Mes', 'contains')" 
                    [value]="dtFac.filters['Mes']?.value" 
                    placeholder="Buscar por Mes" 
                    class="p-column-filter">
            </th>
            <th>                                            
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-reportTotales>
        <tr [pSelectableRow]="reportTotales">
            <td>                  
                {{reportTotales.Nombre}}
            </td>
            <td>
                {{reportTotales.Apellido1}}
            </td>
            <td>
                {{reportTotales.Apellido2}}
            </td>
            <td>
                {{reportTotales.Mes}}
            </td>
            <td>
              {{reportTotales.Total | currency }}
            </td>            
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
<br />
<p class="lead">Clientes con más de 100.000 pesos gastados en el Restaurante</p>
<hr />
<p-table 
    #dt1 
    [value]="customers"
    selectionMode="single"    
    dataKey="IdCliente"
    styleClass="p-datatable-customers"
    [rows]="5"
    [paginator]="true" 
    stateStorage="local" 
    stateKey="statedemo-local">
    <ng-template pTemplate="header">
        <tr>                                        
            <th pSortableColumn="Nombre">Nombres Completo<p-sortIcon field="Nombre"></p-sortIcon></th>
            <th pSortableColumn="Apellido1">Primer Apellido<p-sortIcon field="Apellido1"></p-sortIcon></th>
            <th pSortableColumn="Apellido2">Segundo Apellido<p-sortIcon field="Apellido2"></p-sortIcon></th>                                        
            <th pSortableColumn="Observaciones">Observaciones<p-sortIcon field="Observaciones"></p-sortIcon></th>
            <th pSortableColumn="Total">Total<p-sortIcon field="Total"></p-sortIcon></th>            
        </tr>
        <tr>                                        
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dt1.filter($event.target.value, 'Nombre', 'contains')" 
                    [value]="dt1.filters['_about']?.value" 
                    placeholder="Buscar por Nombres" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText 
                    type="text" 
                    (input)="dt1.filter($event.target.value, 'Apellido1', 'contains')" 
                    [value]="dt1.filters['accessURL']?.value" 
                    placeholder="Buscar por Primer Apellido" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dt1.filter($event.target.value, 'Apellido2', 'contains')" 
                    [value]="dt1.filters['title']?.value" 
                    placeholder="Buscar por Segundo Apellido" 
                    class="p-column-filter">
            </th>
            <th>
                <input 
                    pInputText type="text" 
                    (input)="dt1.filter($event.target.value, 'Observaciones', 'contains')" 
                    [value]="dt1.filters['title']?.value" 
                    placeholder="Buscar por Observaciones" 
                    class="p-column-filter">
            </th>
            <th>                                            
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-customers>
        <tr [pSelectableRow]="customers">
            <td>                  
                {{customers.Nombre}}
            </td>
            <td>
                {{customers.Apellido1}}
            </td>
            <td>
                {{customers.Apellido2}}
            </td>                                    
            <td>
                {{customers.Observaciones}}
            </td>
            <td>
              {{customers.Total | currency}}
          </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="4">No customers found.</td>
        </tr>
    </ng-template>
</p-table>
<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>