<div class="row">    
    <p-toast position="center" key="tl"></p-toast>    
        <div class="col-md-12">
            <div class="card card-success">
                <div class="card-header">                    
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="card-title">Mesa</h3>
                        </div>
                        <div class="col-md-6" style="text-align: right;">
                            <button pButton pRipple type="button" icon="pi pi-plus-circle" class="p-button-rounded" (click)="displayModalTable=true; f.IdMesa.setValue(0); isNew = true;"></button>
                        </div>
                    </div>                                        
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <p-table 
                                #dt1 
                                [value]="tables"
                                selectionMode="single"
                                [(selection)]="selectedTables"
                                dataKey="IdMesa"
                                styleClass="p-datatable-customers"
                                [rows]="5"
                                [paginator]="true" 
                                stateStorage="local" 
                                stateKey="statedemo-local">
                                <ng-template pTemplate="header">
                                    <tr>                                        
                                        <th pSortableColumn="NumMaxComensa">Numero <p-sortIcon field="NumMaxComensa"></p-sortIcon></th>
                                        <th pSortableColumn="Ubicacion">Ubicación <p-sortIcon field="Ubicacion"></p-sortIcon></th>                                        
                                        <th pSortableColumn="Acciones">Acciones</th>
                                    </tr>
                                    <tr>                                        
                                        <th>
                                            <input 
                                                pInputText 
                                                type="number"
                                                (input)="dt1.filter($event.target.value, 'NumMaxComensa', 'contains')" 
                                                [value]="dt1.filters['NumMaxComensa']?.value" 
                                                placeholder="Buscar por Numero" 
                                                class="p-column-filter">
                                        </th>
                                        <th>
                                            <input 
                                                pInputText 
                                                type="text" 
                                                (input)="dt1.filter($event.target.value, 'Ubicacion', 'contains')" 
                                                [value]="dt1.filters['Ubicacion']?.value" 
                                                placeholder="Buscar por Ubicacion" 
                                                class="p-column-filter">
                                        </th>                                        
                                        <th>                                            
                                        </th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-tables>
                                    <tr [pSelectableRow]="tables">
                                        <td>                  
                                            {{tables.NumMaxComensa}}
                                        </td>
                                        <td>
                                            {{tables.Ubicacion}}
                                        </td>                                        
                                        <td>
                                            <div class="row" style="text-align:center;">
                                                <div class="col-md-2">
                                                    <button 
                                                        pButton
                                                        pRipple
                                                        type="button"
                                                        icon="pi pi-pencil"
                                                        (click)="editModal(tables)"
                                                        class="p-button-rounded p-button-info p-button-success">
                                                    </button>
                                                </div>

                                                <div class="col-md-2">
                                                    <button 
                                                        pButton
                                                        pRipple
                                                        type="button"
                                                        icon="pi pi-trash"
                                                        (click)="deleteTable(tables)"
                                                        class="p-button-rounded p-button-info p-button-danger">
                                                    </button>
                                                </div>
                                            </div>                                            
                                        </td>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="emptymessage">
                                    <tr>
                                        <td colspan="4">No customers found.</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>        
</div>

<p-dialog 
        header="Mesa" 
        [(visible)]="displayModalTable"
        [modal]="true" 
        [style]="{width: '50vw'}" 
        [baseZIndex]="10000" 
        [draggable]="false" 
        [resizable]="false"
        [closable]="false">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">Crear Mesa</h3>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="myForm" #Tablefrm="ngForm" >
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6>Id</h6>
                                        <input 
                                            id="IdMesa" 
                                            type="number" 
                                            class="form-control" 
                                            readonly="readonly"
                                            formControlName="IdMesa" />
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6>Número</h6>
                                        <input 
                                            id="NumMaxComensa" 
                                            type="number" 
                                            class="form-control" 
                                            formControlName="NumMaxComensa"
                                            [ngClass]="{ 'is-invalid': f.NumMaxComensa.invalid && (f.NumMaxComensa.dirty || f.NumMaxComensa.touched) }" />
                                        <div *ngIf="f.NumMaxComensa.errors && (f.NumMaxComensa.dirty || f.NumMaxComensa.touched)" class="invalid-feedback">
                                            <div>El Número de mesa es requerido</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <h6>Ubicación</h6>
                                        <input 
                                            id="Ubicacion" 
                                            type="text" 
                                            class="form-control" 
                                            formControlName="Ubicacion"
                                            [ngClass]="{ 'is-invalid': f.Ubicacion.invalid && (f.Ubicacion.dirty || f.Ubicacion.touched) }" />
                                        <div *ngIf="f.Ubicacion.errors && (f.Ubicacion.dirty || f.Ubicacion.touched)" class="invalid-feedback">
                                            <div>La ubicación es requerida</div>
                                        </div>
                                    </div>
                                </div>                                
                            </div>                                
                        </form>               
                    </div>
                </div>
            </div>
        </div>
        <p-footer>            
            <button type="button" pButton (click)="clear();" label="Cerrar" class="ui-button-secondary"></button>    
            <button type="button" pButton icon="pi pi-check" (click)="processTable();" [disabled]="!myForm.valid" label="Guardar"></button>
        </p-footer>
    </p-dialog>

<p-confirmDialog [style]="{width: '50vw'}" [baseZIndex]="10000"></p-confirmDialog>
<ngx-ui-loader></ngx-ui-loader>
<p-toast></p-toast>